@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@font-face {
  font-family: 'jakartasans';
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jakartasans';
  src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
:root
{
    --font-jakartasans :'jakartasans',sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-jakartasans);
  min-height: 100vh;
}


/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.15);
  border-top-color: #0B3869;   /* warna biru Edusafe */
  animation: spinLoader 0.7s linear infinite;
}

@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}

/* Custom font classes */
/* .font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

.font-lato {
  font-family: var(--font-lato), sans-serif;
} */
